
body{
  background-image: url("../images/background.jpg") ;
  background-repeat: no-repeat;
  background-size: 100%;
}
h1 {
  color: white;
  font-size: 28px;
  font-family: "Monaco", "Comic Sans MS", monospace;
}
table{
  width: 90%;
  Margin-left: 5%;
  margin-top: 50px;

}
td{
  text-align: center;

}
.ImWithText{
  background-color: White;
  border-radius: 5%;
  padding-bottom: 2%;

}
.ImWithText img{
  margin-top: 5%;
  width:300px;
  border-radius: 5%;
}
p{
  font-size: 20px;
  font-family: "Monaco", "Comic Sans MS", monospace;

}
a{
    text-decoration: none;
    color:inherit;
}
.back{
  background-color: green;
  border-radius: 10px;
  font-family: "Monaco", "Comic Sans MS", monospace;
  font-size: 14px;
  color: white;
}
.description{
  text-align:center;
  background-color: White;
  border-radius: 20px;
  padding-bottom: 10px;
  width: 60%;
  margin-left: 20%;
  padding-top:30px;
}
.description img{
  width:500px;
  border-radius: 20px;
}
